h1,p{
  text-align: center;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carta {
  width: 100px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.carta .front,
.carta .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease;
}

.carta .front {
  background-color: #ccc;
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta .front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.carta .back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta .back img {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.carta.flipped .front {
  transform: rotateY(-180deg);
}

.carta.flipped .back {
  transform: rotateY(0deg);
}